.img {
    display: block;
    margin: 100px auto;
    fill: #ac4e4e;
}

.content {
    margin-right: 20%;
    flex: 2.4;
    border: 1px solid rgb(240, 237, 237);
    background-color: #fff;
    padding-bottom: 250px;
    min-height: 50vh;
}