.change_item_form {
    display: block;
    margin-top: 1px;
    width: 100%;
}

.input_name {
    width: 100%;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 4px;
    font-size: 1em;
    color: black;
}

.button_accept {
    margin-top: 7px;
    padding: 4px 8px;
    background-color: rgb(219, 76, 63);
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    outline: none;
    user-select: none;
    transition: all .2s linear;
}

.button_accept:hover {
    background-color: #ac4e4e;
    cursor: pointer;
}

.button_cancel {
    background-color: white;
    margin-top: 7px;
    margin-left: 3px;
    padding: 5px;
    font-size: 0.9em;
    border: none;
    color: rgb(83, 75, 75);
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: color .2s linear;
}

.button_cancel:hover {
    text-decoration: underline;
}