/* Item */

.item_li {
  padding: 5px 0;
  margin-bottom: 1px;
}

.item_li:hover {
  background-color: #fafafa;
}

.item {
  cursor: pointer;
  display: flex;
  align-content: center;
}

.item_name {
  margin-left: 30px;
  display: block;
  width: 95%;
}

/* Buttons */

.buttons_block {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.item_change_button,
.item_delete_button {
  height: 22px;
  padding: 4px;
  opacity: 0;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s linear;
}

.item_change_button:hover,
.item_delete_button:hover {
  background-color: #fafafa;
}

.item_li:hover .item_change_button,
.item_li:hover .item_delete_button {
  opacity: 1;
}

.item_change_button > .img,
.item_delete_button > .img {
  height: 100%;
  fill: #727478;
}
.item_change_button > .img:hover,
.item_delete_button > .img:hover {
  fill: #000;
}

/* Checkbox */

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
}

.checkbox + label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 90%;
  border: 1px solid #d4d1d1;
  background: #fff;
  transition: 0.2s;
}

/* checked symbol */
input:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 2px solid #874947;
  border-bottom: 2px solid #874947;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input:checked + label:before {
  background-color: #efe8e8;
  border: 1px solid #ecb9ad;
}

input:hover + label:before {
  background-color: #d4cdcd;
}
