<html lang="ua">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ToDoList</title>
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <script src="/public/js/pageBehavior.js"></script>
    <script src="/public/js/API.js"></script>
</head>

<body>
    <header>
        <h1>ToDoList</h1>
        <form id="search-form" action="/" method="post">
            <input id="search" type="search" name="search" placeholder="Пошук" />
        </form>
    </header>
    <div class="wrapper">
        <div class="menu">
            <div class="menu-item" id="item-project">
                <div class="menu-item-head" onclick="changeVisibility('form-add-divproject');">
                    <h4>Проекти</h4><b class="menu-button-add" id="add-project"> + </b>
                </div>
                <div class="form-add-div" id="form-add-divproject">
                    <ul class="menu-list" id="ul-projects-list"></ul>
                    <div class="menu-item-headbutton" onclick="changeVisibility('form-send-project');"><b>Новий проект</b></div>
                    <form id="form-send-project" name="form-send-project">
                        <input class="form-add-input" id="new-project" type="text" name="newproject" maxlength="50" autocomplete="off" /><br/>
                        <input class="red-button-accept form-add-buttons" id="send-project" type="submit" name="send-project" value="Додати" />
                        <input class="button-cancel form-add-buttons" id="reset-project" type="reset" value="Скасувати" onclick="changeVisibility('form-send-project');" />
                    </form>
                </div>
            </div>
            <div class="menu-item" id="item-label">
                <div class="menu-item-head" onclick="changeVisibility('form-add-divlabel');">
                    <h4>Мітки</h4><b class="menu-button-add" id="add-label"> + </b>
                </div>
                <div class="form-add-div" id="form-add-divlabel">
                    <ul class="menu-list" id="ul-labels-list"></ul>
                    <div class="menu-item-headbutton" onclick="changeVisibility('form-send-label');"><b>Нова мітка</b></div>
                    <form id="form-send-label" name="form-send-label">
                        <input class="form-add-input" id="new-label" type="text" name="newlabel" maxlength="50" autocomplete="off" /><br/>
                        <input class="red-button-accept form-add-buttons" id="send-label" type="submit" name="send-label" value="Додати" />
                        <input class="button-cancel form-add-buttons" id="reset-label" type="reset" value="Скасувати" onclick="changeVisibility('form-send-label');" />
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="work-space" id="work-space">
                <div class="add-task">
                    <h3>Додати завдання</h3>
                    <form name="form-send-task">
                        <input id="new-task" type="text" name="newtask" tabindex="1" maxlength="250" autocomplete="off" /><br/>
                        <input class="red-button-accept" id="send-task" type="submit" name="send-task" value="Додати завдання" />
                        <input class="button-cancel" type="reset" value="Скасувати" />
                    </form>
                </div>
                <div class="unfinished-tasks" id="unfinished-tasks-div">
                    <h3>Незавершені завдання</h3>
                    <ul id="ul-unfinished-tasks"></ul>
                </div>
                <div class="label-tasks">
                    <div id="label1"><span>Мітка 1</span></div>
                    <div id="label2"><span>Мітка 2</span></div>
                </div>
                <div class="finished-tasks">
                    <h3>Виконані завдання</h3>
                    <ul id="ul-finished-tasks"></ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>