html(lang='ua')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title ToDoList
		link(rel='shortcut icon', href='/public/img/favicon.ico', type='image/x-icon')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		link(rel='stylesheet', type='text/css', href='/public/css/style.css')
		script(src='/public/js/pageBehavior.js')
		script(src='/public/js/API.js')
	body
		header
			h1 ToDoList
			form#search-form(action='/', method='post')
				input#search(type='search', name='search', placeholder='Пошук')
		.wrapper
			.menu
				#item-project.menu-item
					.menu-item-head(onclick="changeVisibility('form-add-divproject');")
						h4 Проекти
						b#add-project.menu-button-add  + 
					#form-add-divproject.form-add-div
						ul#ul-projects-list.menu-list
						.menu-item-headbutton(onclick="changeVisibility('form-send-project');")
							b Новий проект
						form#form-send-project(name='form-send-project')
							input#new-project.form-add-input(type='text', name='newproject', maxlength='50', autocomplete='off')
							br
							input#send-project.red-button-accept.form-add-buttons(type='submit', name='send-project', value='Додати')
							input#reset-project.button-cancel.form-add-buttons(type='reset', value='Скасувати', onclick="changeVisibility('form-send-project');")
				#item-label.menu-item
					.menu-item-head(onclick="changeVisibility('form-add-divlabel');")
						h4 Мітки
						b#add-label.menu-button-add  + 
					#form-add-divlabel.form-add-div
						ul#ul-labels-list.menu-list
						.menu-item-headbutton(onclick="changeVisibility('form-send-label');")
							b Нова мітка
						form#form-send-label(name='form-send-label')
							input#new-label.form-add-input(type='text', name='newlabel', maxlength='50', autocomplete='off')
							br
							input#send-label.red-button-accept.form-add-buttons(type='submit', name='send-label', value='Додати')
							input#reset-label.button-cancel.form-add-buttons(type='reset', value='Скасувати', onclick="changeVisibility('form-send-label');")
			.content
				#work-space.work-space
					.add-task
						h3 Додати завдання
						form(name='form-send-task')
							input#new-task(type='text', name='newtask', tabindex='1', maxlength='250', autocomplete='off')
							br
							input#send-task.red-button-accept(type='submit', name='send-task', value='Додати завдання')
							input.button-cancel(type='reset', value='Скасувати')
					#unfinished-tasks-div.unfinished-tasks
						h3 Незавершені завдання
						ul#ul-unfinished-tasks
					.label-tasks
						#label1
							span Мітка 1
						#label2
							span Мітка 2
					.finished-tasks
						h3 Виконані завдання
						ul#ul-finished-tasks
