.item_li {
  min-height: 32px;
  padding: 5px;
  margin-bottom: 1px;
}

.item_li:hover {
  background-color: #ffffff;
}

.item {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item_name {
  display: block;
  color: #000;
  width: 85%;
  font-size: 1em;
}

.buttons_block {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.item_change_button,
.item_delete_button {
  height: 22px;
  padding: 4px;
  opacity: 0;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.item_change_button:hover,
.item_delete_button:hover {
  background-color: #fafafa;
}

.item_li:hover .item_change_button,
.item_li:hover .item_delete_button {
  opacity: 1;
}

.item_change_button > .img,
.item_delete_button > .img {
  height: 100%;
  fill: #727478;
}
.item_change_button > .img:hover,
.item_delete_button > .img:hover {
  fill: #000;
}

@media (max-width: 750px) {
  * {
    cursor: default;
  }
}
