/* Item */

.item_li {
  min-height: 32px;
  padding: 5px 0;
  margin-bottom: 1px;
}

.item_li:hover {
  background-color: #fafafa;
}

.item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item_name {
  margin-left: 30px;
  display: block;
  width: 80%;
}

/* Buttons */

.buttons_block {
  display: flex;
  justify-content: space-between;
  width: 5%;
  min-width: 47px;
}

.item_change_button,
.item_delete_button {
  height: 22px;
  padding: 4px;
  opacity: 0;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s linear;
}

.item_change_button:hover,
.item_delete_button:hover {
  background-color: #fafafa;
}

.item_li:hover .item_change_button,
.item_li:hover .item_delete_button {
  opacity: 1;
}

.item_change_button > img,
.item_delete_button > img {
  height: 100%;
}

/* Checkbox */

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
}

.checkbox + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 90%;
  border: 1px solid #d4d1d1;
  background: #fff;
  transition: 0.2s;
}

input:checked + label:after {
  content: "✓";
  position: absolute;
  left: 4px;
  top: 2px;
  font-size: 15px;
  color: #797878;
  font-weight: bold;
}

input:checked + label:before {
  background-color: #d4cdcd;
}

input:hover + label:before {
  background-color: #c3c3c3;
}
