.content {
  margin-right: 20%;
  flex: 2.4;
  border: 1px solid #f0eded;
  background-color: #fff;
  padding-bottom: 50px;
  min-height: calc(100vh - 44px);
}

.img {
  display: block;
  margin: 100px auto;
  fill: #ac4e4e;
  animation: color1 3s linear;
  animation-iteration-count:infinite;
}

@keyframes color1 {
  70% {fill: black}
}

@media (max-width: 1000px) {
  .content {
    margin: 0;
  }
}

@media (max-width: 750px) {
  .content {
    position: absolute;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
  }
}
