header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 44px;
  background-color: #db4c3f;
  font-weight: bold;
  user-select: none;
  z-index: 9;
}
/* Sandwich */
.sandwich_btn {
  height: 65%;
  width: max-content;
  background-color: transparent;
  border: none;
  display: none;
}

.sandwich_img {
  height: 100%;
}

/* logo */

.logo {
  margin-left: 20%;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
}

/* search */

.search_form {
  margin-left: 15%;
  display: flex;
  color: #29662e;
}

.search_form__search {
  width: 250px;
  display: inline-block;
  padding: 8px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  color: black;
  background-color: #db4c3f;
}

.search_form__search:hover {
  background-color: #e27065;
}

.search_form__search:focus {
  background-color: white;
  border: 1px solid #ac4e4e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input[type="search"]::-webkit-input-placeholder {
  color: white;
}

input[type="search"]:focus::-webkit-input-placeholder {
  color: gray;
}

@media (max-width: 750px) {
  .sandwich_btn {
    display: block;
    margin-left: 10px;
  }
  .sandwich_img {
    fill: #fff;
  }
}
